extends layout
block extrahead
  link(rel="stylesheet" href="stylesheets/jsoneditor.min.css")
  link(rel="stylesheet" href="stylesheets/pipeline.css")
  link(rel="stylesheet" href="stylesheets/highcharts.css")

  script(src="javascripts/jsoneditor.min.js" type="text/javascript")
  script(src="javascripts/pipeline.js" type="text/javascript")
  script(src="javascripts/highcharts-more.js" type="text/javascript")
  script(src="javascripts/sankey.js" type="text/javascript")
  script(src="javascripts/organization.js" type="text/javascript")

block content
  - var flavors = ['alarm', 'control', 'convert'];
  - var states = ['active', 'silent', 'inactive'];
  div.main-container
    #pipelineAccordion.accordion
      each flavor in flavors
        .accordion-item
          h2.accordion-header(id=`${flavor}_header`)
            button.accordion-button(type='button' data-bs-toggle='collapse' data-bs-target=`#${flavor}_tables` aria-expanded='true' aria-controls=`${flavor}_tables`)
              | #{flavor.toUpperCase()} PIPELINES
          .accordion-collapse.collapse.show(id=`${flavor}_tables`, aria-labelledby=`${flavor}_header` data-bs-parent='#pipelineAccordion')
            .accordion-body
              each status in states
                  h3 #{status} pipelines &nbsp;
                  table.table.table-striped.table-hover
                    thead
                      tr
                        th Status
                        th Name
                        th Description
                        th Actions
                    tbody.pipeline_table(id=`${flavor}_${status}`)
                      tr
                        td(colspan=4) Loading!
                  br


    #silence_dropdown.modal.fade
      .modal-dialog.modal-sm
        .modal-content
          .modal-header
            h5.modal-title
              span
                |Silence
                #silence_me
            button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
          .modal-body
            .btn-group-vertical.d-flex.p-2
              button.btn.btn-primary.my-1(onclick="SilencePipeline(30)") 30 minutes
              button.btn.btn-primary.my-1(onclick="SilencePipeline(120)") 2 hours
              button.btn.btn-primary.my-1(onclick="SilencePipeline('evening')") 18:00 today
              button.btn.btn-primary.my-1(onclick="SilencePipeline('morning')") 09:30 tomorrow
              button.btn.btn-primary.my-1(onclick="SilencePipeline('monday')") Monday morning
              button.btn.btn-danger.my-1(onclick="SilencePipeline('forever')") The end of time
          .modal-footer
            button.btn.btn-secondary(type='button' data-bs-dismiss='modal') Cancel
  #pipelinebox.modal.fade
    .modal-dialog.modal-xl
      .modal-content
        .modal-header
          h5#pipelineboxLabel.modal-title
            span#detail_pipeline_name
          button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
        .modal-body.row
          .col-lg-8
            span See this wiki page for details: &nbsp;
              a(href="https://github.com/AG-Schumann/Doberman/wiki/Pipelines") here
            div#json_text
          .col-lg-4
            div#pipeline_vis
        .modal-footer.justify-content-between
          button.btn.btn-danger(type='button' onclick="DeletePipeline()") Delete
          .d-flex
            button.btn.btn-secondary.me-2(type='button' data-bs-dismiss='modal') Close
            button.btn.btn-primary(type='button' onclick="AddOrUpdatePipeline()") Save changes


  script.
    $(document).ready(function() {
      PopulateNavbar();
      const options = {
        "mode": "tree",
        onEditable: function (node) {
          switch (node.field) {
            case 'name':
            case 'description':
            case 'pipeline':
            case 'node_config':
              return {field: false, value: true}
            default:
              return {field: false, value: false}
          }
        }
      }

      document.jsoneditor = new JSONEditor(document.getElementById('json_text'), options);
      ['alarm', 'control', 'convert'].forEach(pl => PopulatePipelines(pl));
      setInterval(UpdateLoop, 5000);
      $('[data-bs-toggle="tooltip"]').tooltip({trigger: 'hover'});
      var query_search = new URLSearchParams(window.location.search);
      if (query_search.has('pipeline_id')) {
        PipelineDropdown(query_search.get('pipeline_id'));
      };
    });
